<!-- Results -->
<div class="crm-vol-opp-results messages status no-popup" ng-if="!loading && assignments.length===0">
  <div class="icon inform-icon"></div>
  {{ts('No results found. Please try different search criteria.')}}
</div>
<table class="display dataTable assignment-list" role="grid" ng-if="loading || assignments.length>0">
  <thead>
     <tr role="row">
        <th class="ui-state-default crm-vol-manage-role_label" ng-class="{'current-sort': order === 'role_label'}" ng-click="changeSort('role_label')">
          {{ts("Role")}}
          <i ng-if="order === 'role_label'" class="fa" ng-class="{'fa-arrow-down': dir === 'asc', 'fa-arrow-up': dir === 'desc'}"></i>
        </th>
        <th class="ui-state-default crm-vol-manage-role_description">
          {{ts("Description")}}
        </th>
        <th class="ui-state-default crm-vol-manage-display_time" ng-class="{'current-sort': order === 'start_time'}" ng-click="changeSort('start_time')">
          {{ts("Timeframe")}}
          <i ng-if="order === 'start_time'" class="fa" ng-class="{'fa-arrow-down': dir === 'asc', 'fa-arrow-up': dir === 'desc'}"></i>
        </th>
        <th class="ui-state-default crm-vol-manage-location" ng-class="{'current-sort': order === 'address_name'}" ng-click="changeSort('address_name')">
          {{ts("Location")}}
          <i ng-if="order === 'address_name'" class="fa" ng-class="{'fa-arrow-down': dir === 'asc', 'fa-arrow-up': dir === 'desc'}"></i>
        </th>
        <th class="ui-state-default crm-vol-manage-project" ng-class="{'current-sort': order === 'title'}" ng-click="changeSort('title')">
          {{ts("Project")}}
          <i ng-if="order === 'title'" class="fa" ng-class="{'fa-arrow-down': dir === 'asc', 'fa-arrow-up': dir === 'desc'}"></i>
        </th>
        <th class="ui-state-default crm-vol-manage-beneficiaries">
          {{ts("Beneficiaries")}}
        </th>
     </tr>
  </thead>
  <tfoot ng-ig="!loading">
    <tr>
      <td colspan="6">
        <div class="pull-right assignment-pagination">
          <button ng-if="offset > 0" ng-click="changePage(-1)">
            <i class="fa fa-backward" aria-hidden="true"></i>
          </button>         
          <span>{{currentPage}}/{{totalPages}}</span>
          <button ng-if="currentPage < totalPages" ng-click="changePage(1)">
            <i class="fa fa-forward" aria-hidden="true"></i>
          </button>
        </div>
        <div class="clear"></div>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <tr ng-repeat="assignment in assignments track by $index" class="registered" ng-class="{'completed': assignment.status === 'completed'}" role="row" ng-click="rowClick(assignment)">
      <td class="crm-vol-manage-role_label">{{assignment.role_label}}</td>
      <td class="crm-vol-manage-role_description" ng-bind-html="assignment.role_description"></td>
      <td class="crm-vol-manage-display_time">{{assignment.display_time}}</td>
      <td class="crm-vol-manage-location">
        <crm-vol-loc-block data="{address: assignment.project.location}" />
      </td>
      <td class="crm-vol-manage-project">{{assignment.project.title}}</td>
      <td class="crm-vol-manage-beneficiaries">
        <crm-vol-beneficiaries-block beneficiaries="assignment.project.beneficiaries" show-image="false" />
      </td>
    </tr>
  </tbody>
</table>