<div volunteer-modal id="crm-vol-assignment-info">
  <div class="modal">
    <div class="modal-body">
      <!-- <h3>{{currentAssignment.title}}</h3> -->
      <div ng-if="currentAssignment.status" class="crm-vol-event-status messages status no-popup" ng-class="{'crm-ok': currentAssignment.status==='completed'}">
        <div class="icon inform-icon"></div>
        <span ng-if="currentAssignment.status==='registered'">
            <strong>{{ts("Heads up!")}}</strong> {{ts('This commitment is upcoming. Hope to see you soon!')}}
        </span>
        <span ng-if="currentAssignment.status==='completed'">
            <strong>{{ts("Thanks!")}}</strong> {{ts('This commitment is complete. We appreciate your efforts!')}}
        </span>
      </div>
      <h3>Timeframe</h3>
      <div ng-switch="currentAssignment.schedule_type">
        <div ng-switch-when="open">
          <p>This opportunity is available at a variety of times or on an ongoing basis. Check the project description for more details.</p>
        </div>
        <div ng-switch-when="shift">
          <p>This opportunity requires a shift at {{currentAssignment.display_time}}.</p>
        </div>
        <div ng-switch-when="flexible">
          <p>This opportunity requires a {{currentAssignment.duration}} minutes between {{currentAssignment.display_time}}.</p>
        </div>
        <div ng-switch-default>
          <p>Please contact us to learn more about this opportunity availablity.
        </div>
      </div>
      <h3>Role - {{currentAssignment.role_label}}</h3>
      <div ng-bind-html="currentAssignment.role_description"></div>
      <h3>Project - {{currentAssignment.project.title}}</h3>
      <div ng-bind-html="currentAssignment.project.description"></div>
      <crm-vol-loc-block data="{address: currentAssignment.project.location}" heading="'Location'" />
      <crm-vol-beneficiaries-block beneficiaries="currentAssignment.project.beneficiaries" heading="'Beneficiaries'" />
      <hr />
      <div class="crm-submit-buttons">
        <button ng-click="closeModal('crm-vol-assignment-info')" class="crm-button crm-vol-assignment-info-close">{{ts('Close')}}</button>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</div>