<div volunteer-modal id="crm-vol-event-info">
  <div class="modal">
    <div class="modal-body">
      <h2>{{currentEvent.title}}</h2>
      <div ng-if="currentEventStatus" class="crm-vol-event-status messages status no-popup" ng-class="{'crm-ok': currentEventStatus==='registered'}">
        <div class="icon inform-icon"></div>
        <span ng-if="currentEventStatus==='registered'">
            <strong>{{ts("Good news!")}}</strong> {{ts('You are already registered for this opportunity.')}}
        </span>
        <span ng-if="currentEventStatus==='full'">
            <strong>{{ts("Oh no!")}}</strong> {{ts('Unfortunately this opportunity is full.')}}
        </span>
        <span ng-if="currentEventStatus==='other-unavailable'">
            <strong>{{ts("Oh no!")}}</strong> {{ts('Unfortunately this opportunity is unavailable currently.')}}
        </span>
      </div>
      <div ng-bind-html="currentEvent.need.role_description"></div>
      <div ng-bind-html="currentEvent.need.project.description"></div>
      <crm-vol-loc-block data="{address: currentEvent.need.project.location}" heading="'Location'" />
      <hr />
      <div class="crm-submit-buttons">
        <button ng-if="!currentEventStatus" ng-click="volSignupCurrentEvent()" class="crm-button crm-vol-event-info-register">{{ts('Register Now!')}}</button>
        <button ng-click="closeModal('crm-vol-event-info')" class="crm-button crm-vol-event-info-close">{{ts('Close')}}</button>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</div>