<div volunteer-modal id="crm-vol-opportunity-info">
  <div class="modal">
    <div class="modal-body">
      <!-- <h3>{{currentEvent.title}}</h3> -->
      <div ng-if="currentEventStatus" class="crm-vol-event-status messages status no-popup" ng-class="{'crm-ok': currentEventStatus==='registered'}">
        <div class="icon inform-icon"></div>
        <span ng-if="currentEventStatus==='registered'">
            <strong>{{ts("Good news!")}}</strong> {{ts('You are already registered for this opportunity.')}}
        </span>
        <span ng-if="currentEventStatus==='full'">
            <strong>{{ts("Oh no!")}}</strong> {{ts('Unfortunately this opportunity is full.')}}
        </span>
        <span ng-if="currentEventStatus==='other-unavailable'">
            <strong>{{ts("Oh no!")}}</strong> {{ts('Unfortunately this opportunity is unavailable currently.')}}
        </span>
      </div>
      <h3>Timeframe</h3>
      <div ng-switch="currentEvent.need.schedule_type">
        <div ng-switch-when="open">
          <p>This opportunity is available at a variety of times or on an ongoing basis. Check the project description for more details.</p>
        </div>
        <div ng-switch-when="shift">
          <p>This opportunity requires a shift at {{currentEvent.need.display_time}}.</p>
        </div>
        <div ng-switch-when="flexible">
          <p>This opportunity requires a {{currentEvent.need.duration}} minutes between {{currentEvent.need.display_time}}.</p>
        </div>
        <div ng-switch-default>
          <p>Please contact us to learn more about this opportunity availablity.
        </div>
      </div>
      <h3>Role - {{currentEvent.need.role_label}}</h3>
      <div ng-bind-html="currentEvent.need.role_description"></div>
      <h3>Project - {{currentEvent.need.project.title}}</h3>
      <div ng-bind-html="currentEvent.need.project.description"></div>
      <crm-vol-loc-block data="{address: currentEvent.need.project.location}" heading="'Location'" />
      <crm-vol-beneficiaries-block beneficiaries="currentEvent.need.project.beneficiaries" heading="'Beneficiaries'" />
      <hr />
      <div class="crm-submit-buttons">
        <button ng-if="!currentEventStatus" ng-click="volSignupCurrentEvent()" class="crm-button crm-vol-opportunity-info-register">{{ts('Register Now!')}}</button>
        <button ng-click="closeModal('crm-vol-opportunity-info')" class="crm-button crm-vol-opportunity-info-close">{{ts('Close')}}</button>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</div>