<div class="crm-container">
  <div class="active_filters" ng-if="active_search.advanced_search_option==true || active_search.beneficiary!== undefined">
    <span class="active_filter_heading"><b>Active Filters : </b></span>
    <div class="active_filter_content">
      <div ng-if="active_search.advanced_search_option==true">
        <div class="filter_data" ng-if="active_search.advanced_search.fromdate!== undefined">
          <span><b>From Date : </b>{{ active_search.advanced_search.fromdate }}</span>
        </div>
        <div class="filter_data" ng-if="active_search.advanced_search.todate!== undefined">
          <span><b>To Date : </b>{{ active_search.advanced_search.todate }}</span>
        </div>
        <div ng-if="active_search.advanced_search.show_appeals_done_anywhere === undefined">
          <div ng-if="active_search.location_finder_way!== undefined">
            <div class="filter_data" ng-if="active_search.location_finder_way== 'use_my_location'">
              <span><b>Latitude : </b>{{ active_search.advanced_search.proximity.lat }}, </span>
              <span><b>Longitude : </b>{{ active_search.advanced_search.proximity.lon }}</span>
            </div>
            <div class="filter_data" ng-if="active_search.location_finder_way== 'use_postal_code'">
              <span><b>Postal Code : </b>{{ active_search.advanced_search.proximity.postal_code }}</span>
            </div>
            <span class="filter_data"><b>Radius : </b>{{ active_search.advanced_search.proximity.radius }} {{ active_search.advanced_search.proximity.unit }}</span>
          </div>
        </div>
        <div class="filter_data" ng-if="active_search.advanced_search.show_appeals_done_anywhere == true">
          <span><b>Only show Opportunities that can be done from anywhere : </b>True</span>
        </div>
      </div>
      <div class="beneficiary_wrapper filter_data" ng-if="active_search.beneficiary!== undefined">
         <span><b>Beneficiary : </b>{{ beneficiary_name.join() }}</span>
      </div>
      <div class="custom_field_display_wrapper filter_data" ng-if="custom_field_display.length">
         <span><b>Additional Filters : </b>{{ custom_field_display.join() }}</span>
      </div>
    </div>
  </div>
  <div crm-ui-debug="volOppData()"></div>
  <div crm-ui-debug="searchParams"></div>
  <div crm-ui-debug="proximityUnits"></div>
  <div crm-ui-debug="countries"></div>
  <div class="crm-vol-opp-search">
    <div class="crm-block ui-tabs ui-widget ui-widget-content ui-corner-all">
      <div class="crm-group">
        <div class="search-box">
          <input type="text" name="searchAppeal" ng-model="search" placeholder="{{ ts('Search') }}" ng-model-options='{ debounce: 1000 }'
             ng-change='searchRes()'/>
          <i class="fa fa-search"></i>
        </div>
        <div class="search-buttons">
          <div class="volunteer_appeal_result_count_message">{{totalRec}} {{ ts('Opportunities') }}</div>
          <div class="advance_filter_wrapper">
            <button ng-click="openModal('crm-vol-advanced-filters')"><i class="fa fa-filter" aria-hidden="true"></i></button>
          </div>
          <div class="reset_filter">
              <button ng-click="resetFilter()"> {{ts('Reset Filters')}}</button>
          </div>
        </div>
        <div class="search-display">
          <button class="grid_view_button" ng-class="{grid_active : view === 'list'}" ng-click="changeView('list')"><i class="fa fa-bars"></i></button>
          <button class="grid_view_button" ng-class="{grid_active : view === 'grid'}" ng-click="changeView('grid')"><i class="fa fa-th-large"></i></button>
          <button class="grid_view_button" ng-click="goToCalendar()"><i class="fa fa-calendar"></i></button>
          <select ng-model="sortValue" ng-options="option.val for option in options" ng-change="sort()">
          </select>
          <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Shopping Cart -->
<div class="crm-vol-half-responsive crm-vol-opp-cart" ></div>
<div class="clear"></div>
<!-- Results -->
<div class="crm-vol-opp-results messages status no-popup" ng-if="appeals.length==0">
  <div class="icon inform-icon"></div>
  {{ts('No results found. Please try different search criteria.')}}
</div>
<ng-include ng-if="template" src="template" />
<div class="pull-right appeal-pagination">
  <div  ng-show="appeals.length>0">
    <button ng-if="currentPage > 1" ng-click="prevPageData()">
      <i class="fa fa-backward" aria-hidden="true"></i>
    </button>         
    {{currentPage}}/{{numberOfPages}}
    <button ng-if="currentPage < totalRec/pageSize" ng-click="nextPageData()">
      <i class="fa fa-forward" aria-hidden="true"></i>
    </button>
  </div>
</div>
<!-- advanced filters -->
<ng-include src="'~/volunteer/AppealFilters.html'" />
<div class="clear"></div>