.crm-vol-modal {
  display: none;
  position: relative;
  z-index: 105000; /* wordpress menu bar is super high */
}
.crm-vol-modal .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow: auto;
  display: block;
}
.crm-vol-modal .modal .modal-body {
  padding: 20px;
  background: #fff;
  margin: 40px;
  max-height: calc(100% - 80px);
  overflow-y: auto;
}
.crm-vol-modal .modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.75;
  z-index: 5;
}
body.modal-open {
  overflow: hidden;
}
